In [2]:
import pandas as pd
df = pd.read_csv("2024_combined_data (1).csv")

In [3]:
df.head()

,game_id,Date,Time,PitchNo,Inning,inning_half,PAofInning,PitchofPA,Pitcher,PitcherId,...,z0,vx0,vy0,vz0,ax0,ay0,az0,catcher,catcher_id,catcher_team
0,20240220-HighPointUniversity-1,2024-02-20,60314.0,82,3,Top,4,2,"Olsovsky, Dalton",1000251274,...,5.41,3.28,-106.58,0.58,12.91,22.07,-34.04,"Ruiz, Justin",1.000209e+09,HIG_PAN
1,20240220-HighPointUniversity-1,2024-02-20,63576.0,185,6,Top,2,3,"Glover, Lucas",1000138461,...,6.01,5.23,-118.11,-3.37,3.74,26.71,-27.88,"Ruiz, Justin",1.000209e+09,HIG_PAN
2,20240220-HighPointUniversity-1,2024-02-20,66446.0,269,8,Top,3,1,"Carter, Noah",1000108939,...,5.52,3.08,-122.94,-1.77,-3.68,24.28,-16.89,"Grintz, Eric",6.864560e+05,HIG_PAN
3,20240220-HighPointUniversity-1,2024-02-20,64809.0,216,6,Bottom,6,1,"Welch, Collin",1000192105,...,6.23,0.38,-117.74,-0.37,-12.27,24.59,-28.63,"Church, Braxton",1.000192e+09,APP_MOU
4,20240220-HighPointUniversity-1,2024-02-20,67985.0,308,9,Bottom,4,3,"Lewis, Zach",1000127413,...,5.18,9.62,-132.57,-10.20,-8.59,32.05,-14.93,"Church, Braxton",1.000192e+09,APP_MOU

In [4]:
df.columns
# useful columns: Inning, PitcherThrows, PitchCall, KorBB, OutsOnPlay, RunsScored, Balls, Strikes, Outs, TaggedPitchType, RelSpeed, SpinRate, SpinAxis, Tilt, 'InducedVertBreak', 'VertBreak', 'HorzBreak',

Index(['game_id', 'Date', 'Time', 'PitchNo', 'Inning', 'inning_half',
       'PAofInning', 'PitchofPA', 'Pitcher', 'PitcherId', 'PitcherThrows',
       'PitcherTeam', 'Batter', 'BatterId', 'BatterSide', 'BatterTeam',
       'PitchCall', 'PlayResult', 'KorBB', 'OutsOnPlay', 'RunsScored', 'Balls',
       'Strikes', 'Outs', 'TaggedPitchType', 'RelSpeed', 'SpinRate',
       'SpinAxis', 'Tilt', 'InducedVertBreak', 'VertBreak', 'HorzBreak',
       'VertApprAngle', 'HorzApprAngle', 'vert_rel_angle', 'horz_rel_angle',
       'RelHeight', 'RelSide', 'Extension', 'PlateLocHeight', 'PlateLocSide',
       'zone_time', 'EffectiveVelo', 'SpeedDrop', 'TaggedHitType', 'hit_x',
       'hit_y', 'ExitSpeed', 'Angle', 'HitSpinRate', 'hit_spin_axis',
       'Distance', 'hit_last_tracked_distance', 'hit_hang_time', 'Direction',
       'Bearing', 'hit_max_height', 'hit_contact_x', 'hit_contact_y',
       'hit_contact_z', 'position_110x', 'position_110y', 'position_110z',
       'pfxx', 'pfxz', 'x0', 'y0', 'z0', 'vx0', 'vy0', 'vz0', 'ax0', 'ay0',
       'az0', 'catcher', 'catcher_id', 'catcher_team'],
      dtype='object')

In [5]:
df['TaggedPitchType'].unique

<bound method Series.unique of 0             Slider
1             Slider
2           Fastball
3           ChangeUp
4           Fastball
             ...
1513434    Curveball
1513435       Slider
1513436       Slider
1513437       Cutter
1513438     Fastball
Name: TaggedPitchType, Length: 1513439, dtype: object>

In [6]:
df['TaggedHitType']

0               NaN
1               NaN
2               NaN
3               NaN
4               NaN
             ...
1513434         NaN
1513435         NaN
1513436         NaN
1513437    fly_ball
1513438         NaN
Name: TaggedHitType, Length: 1513439, dtype: object

In [8]:
df["PlayResult"].value_counts()

PlayResult
Undefined         1128864
Out                146365
Strikeout           78363
Single              60293
Walk                44806
Double              17877
HomeRun             11520
Sacrifice            7748
FieldersChoice       6756
Error                6375
StolenBase           1980
Triple               1883
CaughtStealing        602
SIngle                  4
error                   2
homerun                 1
Name: count, dtype: int64

In [13]:
num_missing_rows = df.isnull().any(axis=1).sum()

In [14]:
print(num_missing_rows)

1402286

In [4]:
df["game_id"].value_counts()

game_id
20240508-OleMiss-1                      538
20240423-UGeorgia-1                     510
20240320-PurdueUniversity-1             505
20240326-UCLA-1                         492
20240416-DoakField-1                    487
                                       ...
20240412-SouthernIdaho-2                163
20240330-SouthwesternOregonStadium-2    156
20240320-GeorgeHWBush48Field-1          138
20240516-BaintonField-1                 113
20240315-TheDiamond-3                    77
Name: count, Length: 4904, dtype: int64

In [6]:
df["BatterTeam"].value_counts()

BatterTeam
TEX_AGG    10783
TEN_VOL    10633
LSU_TIG     9624
GEO_BUL     9228
NOR_TAR     9010
           ...
LAN_COL       97
MON_MUS       96
BLA_BEA       95
NOR_OKL       92
GUI_TEC       75
Name: count, Length: 551, dtype: int64